.navbarContent{
    display: flex;
    justify-content: space-evenly;
    margin: 0 15% 0 15%;
    font-family: UniNeueBold;
    padding: 3% 0;
    
}
.buttonContent a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 800;
}