.teamBody{
    font-family: var(--font-family);
    text-align: center;
    /* display: grid;
    justify-content: center;     */
}
.teamContent{
  margin: 300px 0 0 0;
}
.teamContent h1{
    font-weight: bold;
    color: var(--background-color);
    margin-bottom: 3rem;
}
.teamContent article{
   height: auto;
   width: 900px;
   margin: auto;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem 0rem;
    padding: 2rem;   
}
.member{
    display: grid;
    justify-content: space-around;
    text-align: center;
}
.member label{
    margin-top: 1rem;
}
.team-img img{
    border-radius: 6px;
    height: 12rem;
    width: 15rem;
}
.himel img{
    border-radius: 6px;
    height: 12rem;
    width: 12rem;
}

@media only screen and (max-width: 1380px) {
    .team-img {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1.5rem 1rem;
        padding: 2rem;
    }
}
@media only screen and (max-width: 768px) {
    .teamContent{
        padding: 4%;
        margin: 0;
    }
    .teamContent h1{
        font-size: 1.5rem;
    }
    .teamContent article{
       height: auto;
       width: 100%;
       font-size: .8rem;
    }
    /* .team-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        justify-content: space-around;
        padding: 0rem;   
    } */
    .team-img img{
        border-radius: 6px;
        height: 6rem;
        width: 6rem;
    }
    .member label{
        text-align: left;
        margin-top: .5rem;
        font-size: .8rem;
    }
}