.aboutUsBody{
    font-family: var(--font-family);
    text-align:  right;  
}
.aboutUsContent{
    display: flex;
    justify-content: space-between;
    gap: 4%;
    padding: 10% 10% 0 10%;
    margin: 0 4%
  
}
.aboutText{
    height:auto;
    width: 300px;
}
.aboutText h1{
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 2rem;
}
article{
    font-weight: 500;
}
.aboutUsContent .aboutAnimation .container{
    height: auto;
    width: 750px;
}
.aboutAnimation{
    display: block;
}
.aboutAnimationMobile{
    display: none;
}
@media only screen and (max-width: 1380px) {
    .aboutUsContent {
        margin: 0;
    }
    .aboutAnimation{
        display: block;
    }
    .aboutAnimationMobile{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .aboutUsBody{
        text-align: left;  
    }
    .aboutUsContent{
        display: grid;
        justify-content: space-between;
        gap: 4%;
        padding: 5%;
    }
    .aboutUsContent .aboutAnimation .container{
        height: auto;
        width: 50%;
    }
    .aboutAnimation .container svg{
        height: 100% !important;
        width: 100% !important;
        margin: auto;
    }
    .aboutText{
        height:auto;
        width: 100%;

    }
    .aboutText h1{
       font-size: 1.5rem;
    }
    article{
        font-size: .8rem;
       text-align:justify;
    }
    .aboutAnimation{
        display: none;
    }
    .aboutAnimationMobile{
        display: block;
    }
    .container1{
        margin-bottom: 2rem;
    }
}
