.capabilityBody{
    font-family: var(--font-family);
    overflow: hidden;
    background-image: url('../Images/Vector\ 5.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    
}
.capabilityContent{
    display: flex;
    justify-content: space-evenly;
    padding: 4%;
}
.primex_capability{
    height: auto;
    width: 40%;
}
.primex_capability h4,h5,ul{ 
    color: var(--background-color)
}
.skillsBody{
    display: grid;
    justify-content: space-between;
    height : auto;
    width: 40%;
}
.skillsBody a{
    text-decoration: none;
    color: #042B30;
    text-align: center;
    font-weight: 800;
}
.skills{
    height : 85%;
    width: 120%;
    background-color:#FFFFFF;
    box-shadow: 0px 4px 31px 15px rgba(170, 193, 200, 0.25);
    border-radius: 25px;
    padding: 0 3%;
}
.skillsContents{
    height: 450px;
    width: 100%;
    margin: auto;
    padding-right: 1rem;
}
.skillsContents h5{
    text-align: center;
    color:#042B30;
    padding-top: 2rem;
    margin: 0 !important;
}
.skillPercentBody{
    height: auto;
    width: 300px;
    transform: rotate(270deg);
    padding: 0 2rem;
    overflow: hidden; 
    position: relative;
    left: 2.5rem;   
}
.skillPercentContent{
    display: flex;
    justify-content: flex-start;
    padding: .5rem;   
}
.skillPercent1 span{
    margin-left: 15px;
    
}
.percent{
    padding: 0 .5rem ;
    transform: rotate(90deg);
}
.skillPercent1{
    height: 2.5rem;
    width: 250px;
    color: #f0f0f0;
    background-color:  #F05025;
    text-align: left;
    border-radius: 0 6px 6px 0;
    z-index: 10;
}

.skillPercent12{
    height: 2.5rem;
    width: 40px;
    background-color: black;
    position: relative;
    left: -5px;
    border-radius: 0 6px 6px 0;
    z-index: 9;
}
.seo1 span{
    margin-left: 15px;
    
}
.seo1{
    height: 2.5rem;
    width: 200px;
    color: #f0f0f0;
    background-color:  #F05025;
    text-align: left;
    border-radius: 0 6px 6px 0;
    z-index: 10;
}

.seo{
    height: 2.5rem;
    width: 80px;
    background-color: black;
    position: relative;
    left: -5px;
    border-radius: 0 6px 6px 0;
    z-index: 9;
}
.Graphics1 span{
    margin-left: 15px;
    
}
.Graphics1{
    height: 2.5rem;
    width: 230px;
    color: #f0f0f0;
    background-color:  #F05025;
    text-align: left;
    border-radius: 0 6px 6px 0;
    z-index: 10;
}

.Graphics{
    height: 2.5rem;
    width: 50px;
    background-color: black;
    position: relative;
    left: -5px;
    border-radius: 0 6px 6px 0;
    z-index: 9;
}
@media only screen and (max-width: 768px) {
    .capabilityContent {
        display: grid;
        justify-content: space-evenly;
        padding: 5%;
        margin-top: 4rem;
    }
    .primex_capability {
        height: auto;
        width: 100%;
    }
    .skillsBody {
        height: auto;
        width: 100%;
    }
    .skills {
        height: 85%;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 31px 15px rgb(170 193 200 / 25%);
        border-radius: 25px;
        padding: 0 3%;
    }
    .skillsContents {
        height: 400px;
        width: 100%;
        margin: auto;
        padding-right: 0rem;
    }
    
    .skillPercent1{
        height: 1.5rem;
        width: 250px;
        color: #f0f0f0;
        background-color:  #F05025;
        text-align: left;
        border-radius: 0 6px 6px 0;
        z-index: 10;
    }
    
    .skillPercent12{
        height: 1.5rem;
        width: 40px;
        background-color: black;
        position: relative;
        left: -5px;
        border-radius: 0 6px 6px 0;
        z-index: 9;
    }
    .seo1 span{
        margin-left: 15px;
        
    }
    .seo1{
        height: 1.5rem;
        width: 200px;
        color: #f0f0f0;
        background-color:  #F05025;
        text-align: left;
        border-radius: 0 6px 6px 0;
        z-index: 10;
    }
    
    .seo{
        height: 1.5rem;
        width: 80px;
        background-color: black;
        position: relative;
        left: -5px;
        border-radius: 0 6px 6px 0;
        z-index: 9;
    }
    .Graphics1{
        height: 1.5rem;
        width: 230px;
        color: #f0f0f0;
        background-color:  #F05025;
        text-align: left;
        border-radius: 0 6px 6px 0;
        z-index: 10;
    }
    
    .Graphics{
        height: 1.5rem;
        width: 50px;
        background-color: black;
        position: relative;
        left: -5px;
        border-radius: 0 6px 6px 0;
        z-index: 9;
    }
    .skillPercentBody {
        position: relative;
        left: 0;
    }
}
