.ourClientsBody{
    font-family: var(--font-family);

}
.ourClientsContents{
    display: flex;
    justify-content: center;
    gap: 0rem;
    padding: 2rem;
    margin: 50px  0 200px 0;
}
.clientsHeader{
    transform: rotate(270deg);
    width: 30%;
    align-items: center;
}

.clientsLogo{
    /* display: inline-block; */
        width: 50%;
}
.clientsHeader h1{
    font-weight: bold;
    font-size: 3.5em;
    text-align: left;
    margin-left: 10rem;
}
.headerColour{
    color: var(--background-color)
}
.clients{
    display: grid;
    grid-template-columns: repeat(4,1fr);    
    /* gap: .5rem; */
    padding: 1rem;
    align-items: center;
}
.clients img{
    height:auto;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .clientsHeader h1 {
        font-size: 2em;        
        margin-left: 0rem;
    }
    .clients img{
        height:auto;
        width: 100%;
        padding: 0.3rem;
    }
    .ourClientsContents{
        margin: 50px  0 50px 0;
    }
}