.sliderBody{
    font-family: var(--font-family);
}
.sliderContent{
    padding: 2%;
}
.carouselContent{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    height: 600px;
}
.carouselText{
    height: 600px;
    width: 40%;
    align-items: center;
    padding: 5%;
}
.carouselText article{
   margin-top:4rem;
}
.carouselImg{
    height: auto;
    width: 40%;    
}
.carouselImgContent{
    position: relative;
}
.carouselTextHeader h2{
    font-weight: bold;
}
.slide1{   
    height: auto;
    width: 100%;
}
.slide2{
    position: absolute;
    height: 480px;
    width: 300px;
    top: 100px;
    left: -20%;

}
.carouselTextHeader .colorText{
    color: var(--background-color);
}
.carouselText a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 800;
}
.carousel-control-next-icon {
    background-image: url("../Images/Vector\ 1.png") !important;
}
.carousel-control-prev-icon {
    background-image: url("../Images/Vector\ 1.png") !important;
}
.carousel-control-next {
    left: 18rem;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 22px #C1C1FF;
    padding: 1rem;   
}
.carousel-control-prev {
    left: 14rem!important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% 50%;
    padding: 1rem;   
    background-color: #FFFFFF;
    box-shadow: 0px 0px 22px #C1C1FF;
    transform: rotate(-180deg);
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 520px!important;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-indicators li {
    display: none;
}
@media only screen and (max-width: 768px) {
    .carouselContent{
        display: grid;
        justify-content: space-around;
        padding: 2%;
    }
    .carouselText{
        height: auto;
        width: 100%;
        align-items: center;
        padding: 5%;
    }
    .carouselText article{
       margin-top:2rem;
    }
    .carouselImg{
        height: 470px;
        width: 100%;    
    }    
    .slide1{   
        height: auto;
        width: 100%;
    }
    .slide2{
        position: absolute;
        height: 300px;
        width: 200px;
        top: 100px;
        left: 0%;
    }
    .carousel-control-next {
        left: 11rem;
        height: 40px !important;
        width: 40px !important;
        border-radius: 50% 50%;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 22px #C1C1FF;
        padding: 1rem;   
    }
    .carousel-control-prev {
        left: 7rem!important;
        height: 40px !important;
        width: 40px !important;
        border-radius: 50% 50%;
        padding: 1rem;   
        background-color: #FFFFFF;
        box-shadow: 0px 0px 22px #C1C1FF;
        transform: rotate(-180deg);
    }
   
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 750px!important;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }
}
@media only screen and (max-width: 1824px) {
    .carousel-control-next {
        left: 16rem;
        height: 40px !important;
        width: 40px !important;
        border-radius: 50% 50%;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 22px #C1C1FF;
        padding: 1rem;   
    }
    .carousel-control-prev {
        left: 12rem!important;
        height: 40px !important;
        width: 40px !important;
        border-radius: 50% 50%;
        padding: 1rem;   
        background-color: #FFFFFF;
        box-shadow: 0px 0px 22px #C1C1FF;
        transform: rotate(-180deg);
    }
   
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 520px!important;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }
}