.footerBody{
    font-family: var(--font-family);
    text-align: center;
    /* display: grid;
    justify-content: center; */
    padding: 3%;
}
.footerContent span{
    font-weight: 200;
    color: #002B30;
}
.socialMedia{
    padding: 2rem;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.footerAddress{
    display: flex;
    justify-content: space-around;
   
    font-weight: 200;
}
.addressName{
    display: grid;
    justify-content: center;
}
.addressConditions{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
@media only screen and (max-width: 768px) {
    .footerBody{
        font-size: .8rem;
        padding: 6%
    }
    .socialMedia {
        width: unset;        
    }
    .footerAddress{
        padding: 0 0 2.5rem 0;
        display: grid;
        gap: 1.5rem;
        justify-content: space-around;
    }
}