.otherServicesBody{
    font-family: var(--font-family);
    display: grid;
    justify-content: center;
    background-image: url('../../Animation/animation_640_kmujj2ez.gif'); 
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
    /* transform: rotate(180deg); */
}
.otherServicesContent{
    padding: 4%;
    margin: 120px 0 120px 0;
    
}
.OtherServicesHeader {
    height:auto;
    width: 900px;
    text-align:  center;  
    margin: auto;
}
.OtherServicesHeader h1{
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.OtherServicesHeader article{
    font-weight: 500;
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.services{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.5rem 4rem;
    margin: 2% 12% 0 12%;
}
.serviceDetails h3{
    color: var(--background-color);
}
.serviceDetails article{
    margin-bottom: 2.5rem;
    text-align:  justify;
}
.container{
    margin-bottom: 6.5rem;
}
@media only screen and (max-width: 1380px) {
    .otherServicesContent {
        margin: 120px 0 0 0;
    }
}
@media only screen and (max-width: 768px) {
    .otherServicesBody{
        background-size: 100% auto;       
    }
    .otherServicesContent{
        height: auto;
        width: 100%;
        font-size: 90%;
        margin: 0;
    }
    .OtherServicesHeader {
        height:auto;
        width: 100%;
        text-align:  center;  
        margin: auto;
    }
    .OtherServicesHeader h1{
        font-size: 1.5rem;
    }
    .serviceDetails h3{
    font-size: 1rem;
    }
    .services{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem 1.5rem;
        margin: 0;
        padding: 2%;
    }
    .OtherServicesHeader article{
        font-size: .7rem;
    }
    .serviceDetails article{
        font-size: .6rem;
    }
    .serviceDetails .container svg{
        height: 300px !important;
        width: 60px !important;
    }
}

