.firstBackground{
    background-image: url('../../Animation/animation_640_kmujj1ez.gif');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
   
}
.secondBackground{
    background-image: url('../Images/Group\ 11.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.thirdBackground{
    background-image: url('../../Animation/animation_640_kmujj1ez.gif');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
}
