.portfolioBody{
    font-family: var(--font-family); 
    overflow: hidden;
    display: grid;
    justify-content: center;
    background-image: url('../Images/Vector\ 3.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 1200px;
    width: auto;
}
.portfolioContent{
    height: auto;
    width: 100vw;
    padding-top: 4rem;    
    padding-bottom: 3rem;   
    padding: 6% 0;
}
.portfolioText{
    text-align: center;
}
.portfolioHeader{
   display: flex;
   justify-content: space-around;
}
.portfolioHeaderText{
    text-align: left;
    font-weight: 800;
}
.portfolioHeaderText .headerColor{
    color: var(--background-color);
}
.portfolioHeaderLink a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 800;
}
.portfolioContent article{
    font-family: var(--font-family); 
    height: auto;
    width: 900px;
   margin: auto;
}
.port-btn{
    color:#212529;
    margin-right: 2rem;
    cursor: pointer;
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}
.port-btn span{
    font-family: UniNeueHeavy;
    font-size: 150%;
    margin-right: 5rem;
}
.port-btn span:hover{
   color: #e6b104;
}
/* .all img{
    height: auto;
    width: 50%;
    padding: 2rem;
    border-radius: 5%;
    display: block; 
} */
.web img{
    height: auto;
    width: 20%;
    padding: 2rem;
    border-radius: 5%;
}
.graphics img{
    height: auto;
    width: 20%;
    padding: 2rem;
    border-radius: 5%;
}
.templates img{
    height: auto;
    width: 20%;
    padding: 2rem;
    border-radius: 5%;
}
.apps img{
    height: auto;
    width: 20%;
    padding: 2rem;
    border-radius: 5%;
}
.all img:hover{
    opacity: .8;
    /* zoom: 1.1; */
}
.web, .graphics , .templates , .apps{
    display: none;
}
.portfolioFirstRow{
    display: flex;
    justify-content:space-evenly;    
}
.portfolioFirstColumn{
    display: flex;
    justify-content:space-evenly;
    height: auto;
    width: 49%;
  
}
.portfolioFirstColumn img{
    height: 50%; 
    width: 50%;
}

.portfolioSecondColumn{
    height: auto;
    width: 49%;
}
.portfolioSecondRow{
    margin-top: 1rem;
    display: flex;
    justify-content:space-evenly;  
}
.portfolioFirstColumnNew{
    height: auto;
    width: 49%;
    position: relative;
    top: -240px;
}
.portfolioFirstColumnNew img{
    height: auto; 
    width: 99%;
}

.portfolioSecondColumnNew{
    height: auto;
    width: 49%;
    display: flex;
    justify-content:space-evenly; 
}

.portfolioSecondColumnNew img{
    height: 50%; 
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .portfolioBody{
        height: auto;
        width: auto;
        padding: 3%;
    }
    .portfolioContent{
        
        padding: 4%;
    }
    .portfolioHeaderText h1{
        font-size: 1.5rem;
    }
    .portfolioText article {
        font-family: var(--font-family);
        height: auto;
        width: 100%;
        font-size: .8rem;;
    }  
    .port-btn{
        color:#212529;
        margin-right: 0rem;
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content:center;
        margin-bottom: 1rem;
    }
    .port-btn span{
        font-family: UniNeueHeavy;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-right: 0rem;
    }
    .port-btn span:hover{
       color: #e6b104;
    }
    
    .portfolioFirstRow{
        display: flex;
        justify-content:space-evenly;    
    }
    .portfolioFirstColumn{
        display: flex;
        justify-content:space-evenly;
        height: auto;
        width: 49%;
    
    }
    .portfolioFirstColumn img{
        height: 50%; 
        width: 50%;
    }

    .portfolioSecondColumn{
        height: auto;
        width: 49%;
    }
    .portfolioSecondColumn img{
        height: 100%;
        width: 100%;
    }
    .portfolioSecondRow{
        margin-top: 1rem;
        display: flex;
        justify-content:space-evenly;  
    }
    .portfolioFirstColumnNew{
        height: auto;
        width: 49%;
        position: relative;
        top: -60px;
    }
    .portfolioFirstColumnNew img{
        height: auto; 
        width: 99%;
    }

    .portfolioSecondColumnNew{
        height: auto;
        width: 49%;
        display: flex;
        justify-content:space-evenly; 
    }

    .portfolioSecondColumnNew img{
        height: 50%; 
        width: 50%;
    }
    .web img {
        height: auto;
        width: 40%;
        padding: .5rem;
        border-radius: 5%;
    }
    .graphics img{
        height: auto;
        width: 40%;
        padding: .5rem;
        border-radius: 5%;
    }
    .templates img{
        height: auto;
        width: 40%;
        padding: .5rem;
        border-radius: 5%;
    }
    .apps img{
        height: auto;
        width: 40%;
        padding: .5rem;
        border-radius: 5%;
    }
}