.forYoyBody{
    font-family: var(--font-family);
    text-align:  center;   
    display: grid;
    justify-content: center;    
}
.forYouContent{
    height:auto;
    width: 900px;
    align-items: center;
    padding: 3%;
    margin: 100px 0 100px 0;

}
.forYoyHeader{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20% 0 20%;   
}
.forYoyHeader h1{
    font-weight: bold;
    margin-bottom: 3rem;
}

.colorHeader{
    color: var(--background-color)
}
.forYoyContent article{
    font-weight: 500;
    padding: 2rem;
}
article{
    font-weight: 500;
    padding-bottom: 2rem;
}
.forYouContent a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 800;
}

@media only screen and (max-width: 1380px) {
    .forYouContent {
        margin: 0;
    }
}
@media only screen and (max-width: 768px) {
    .forYoyHeader h1{
        font-size: 1.5rem;
    }
    .forYouContent{
        font-size: 80%;
        height:auto;
        width: 100%;
        padding: 5%;
    }
}
