.forYoyBody{
    font-family: var(--font-family);
    text-align:  center;   
    display: grid;
    justify-content: center;
    padding: 1%;
}
.forYouContent{
    height:auto;
    width: 900px;
    align-items: center;
}
.forYoyHeader{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20% 0 20%;   
}
.colorHeader{
    color: var(--background-color)
}
.forYoyContent article{
    font-weight: 500;
    padding: 2rem;
}
article{
    padding-bottom: 2rem;
}
.forYouContent a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 800;
}
